image {
    width: 200px;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

ul li a h2 {
    size: 16px;
    
}

#foods {
    width: 400px;
    font-size: 12px;
    background-color:white;
    -webkit-text-fill-color: white;
    padding: 5px;
    border-style:inset;
}

a:link {
    text-decoration: none;
    -webkit-text-fill-color: black;
}

a:before {
    -webkit-text-fill-color: black;
}

.opener {
    width: 400px;
    background-color:whitesmoke;
    text-align: center;
    border-style:ridge;
    padding: 5px;
}

.left {
    text-align: left;
}

img {
    width: 400px;
    padding: 5px;
    border-style:solid;
}

button {
    background-color: coral;
    font-weight: bold;
    height: 30px;
}

.bt {
    width: 150px;
    font-size: 20px;
}

#eatnow {
    background-color: black;
    color: white;
}

#later {
    background-color: yellow;
    border-color: black;
}

#buttonhome {
    width: 400px;
    background-color: darkgrey;
    padding: 5px;
    border-style: dotted;
    text-align: center;
}

article {
    width: 80%;
    background-color: aquamarine;
    
}

.wisdom {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bestwisdom {
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: indigo;
}