image {
    width: 200px;
}

ul {
    list-style: none;
}

h1 {
    color: darkred;
}

ul li a h2 {
    size: 16px;
    
}

#foods {
    width: 400px;
    font-size: 12px;
    background-color:white;
    -webkit-text-fill-color: white;
    padding: 5px;
    border-style:inset;
}

a:link {
    text-decoration: none;
    -webkit-text-fill-color: white;
}

a:before {
    -webkit-text-fill-color: white;
}

.opener {
    width: 400px;
    background-color:whitesmoke;
    text-align: center;
    border-style:ridge;
    padding: 5px;
}

.left {
    text-align: left;
}

img {
    width: 400px;
    padding: 5px;
    border-style:solid;
}