


p,
ul {
    border: 2px solid rebeccapurple;
    padding: 5px;
    
}

span,
li {
    border: 2px solid blue;
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    border: 2px solid blue;
    display:inline-block;
    
}

ul {    
    display: inline-flex;
    list-style: none;;
    padding: 0;
}

.boxes {
    width: 100%;
    border: 2px solid;
    display: flex;
    position: relative;
}

.box {
    
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.box2 {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    margin-top: 10px;
    padding: 40px;
    height: 150px;
}

.box3 {
    box-sizing: border-box;
    
    margin: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: center;
}