


p,
ul {
    border: 2px solid rebeccapurple;
    
}

span,
li {
    border: 2px solid blue;
    
}

ul {    
    display: inline-flex;
    list-style: none;;
    padding: 0;
}

.boxes {
    width: 100%;
    border: 2px solid;
    display: flex;
    position: relative;
}

.box {
    
    width: 350px;
    inline-size: 350px;
    height: 150px;
    block-size: 150px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}

.box2 {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    margin-top: 10px;
    padding: 40px;
    height: 150px;
}

.box3 {
    box-sizing: border-box;
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
}



